.content {
    padding: 20px;
    background-color: #f1f5f9;
    min-height: 90vh;
    width: 100%;
}

.header-progress {
    height: 140px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.progress-box {
    background-color: #fff;
    width: 25%;
    border-radius: 5px;
    padding: 10px 10px;
    height: 100%;
    box-shadow: 1px 1px 2px #00000024;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.progress-box:hover {
    box-shadow: none;
}


.progress-box .top-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.top-tools p {
    color: #212b36;
}

.top-tools .icon-infos {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #e0dcfe;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.top-tools .icon-infos:hover {
    cursor: pointer;
    background-color: #cdc9e9;
}

.icon-infos svg {
    width: 20px;
    height: 20px;
}

.mark-progress {
    display: flex;
    align-items: center;
}

.mark-progress h4 {
    font-size: 50px;
    /* color: #7a66ff; */
}

.bottom p {
    font-size: 14px;
}

.table {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 2px #00000024;
}

.head-infs {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid #d2d2d2;
}

.head-infs h4 {
    font-weight: 490;
    color: #212b36;

}

.head-infs .buttons {
    min-width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.buttons .box-button {
    width: 190px;
}

.box-button button svg {
    padding: 2px;
}

.buttons .btn {
    overflow: hidden;
    display: flex;
    gap: 10px;
    background-color: #198754;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-items: center;
    height: 35px;
    color: #ffffff;
    width: 110px;
    padding: 0px 0px 0px 10px;
    font-weight: 495;
}

.buttons .btn svg {
    width: 50px;
    height: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.buttons .btn svg:hover {
    background-color: #11111130;
    cursor: pointer;
}

.head-column {
    display: flex;
    gap: 20px;
    height: 45px;
    background-color: #f1f5f9;
    border-bottom: 1px solid #d2d2d2;
}

.head-column p {
    display: flex;
    height: 100%;
    align-items: center;
    color: #637381;
    width: 20%;
    justify-content: center;
    text-wrap: nowrap;
}

.head-column p:first-child {
    padding-left: 20px;
}


.list-budget {
    min-height: 432px;
    overflow-y: hidden;
    overflow-x: hidden;
}



.list-budget .each-budget {
    display: flex;
    gap: 20px;
    height: 55px;
}

.each-budget:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.each-budget p,
.each-budget .last-child {
    display: flex;
    height: 100%;
    align-items: center;
    color: #637381;
    min-width: 14%;
    justify-content: start;
    text-wrap: nowrap;
}



.each-budget p:first-child span {
    height: 20px;
    width: 120px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
}

.each-budget p:first-child a {
    text-decoration: none;
}

.each-budget p:first-child span {
    background-color: #f1f5f9;
    color: #212b36 !important;
}


.each-budget .last-child {
    gap: 10px;
    color: #212b36;
    position: relative;
}

.each-budget .last-child a {
    text-decoration: none;
    display: flex;
}

.each-budget a>button {
    width: 90px;
    height: 25px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #198754;
    overflow: hidden;
    display: flex;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    color: #fff;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}


.each-budget a>button:hover {
    cursor: pointer;
    background-color: #136e44;
}

.popover-basic {
    position: absolute;
    width: 280px;
    height: 120px;
    right: 165px;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #e4e5e7;
    top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.popover-basic::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 10px;
    top: 15px;
    right: -6px;
    transform: rotate(140deg);
    border-top: 1px solid #e4e5e7;
    border-left: 1px solid #d1d2d4;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
}

.last-child:hover .popover-basic {
    animation: shower 0.3s ease-in-out forwards;
    display: block;
    -webkit-animation: shower 0.3s ease-in-out forwards;
}

@keyframes shower {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-popover {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #d1d2d4;
    color: #212b36;
}

.popover-body {
    height: 85px;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
}

.each-budget p,
.each-budget a {
    font-size: 14px;
    width: 20%;
    justify-content: center;
}

.each-budget a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.each-budget .last-child svg:hover {
    cursor: pointer;
}

.buttons .box-button {
    width: 160px;
    display: flex;
    background-color: #212b36;
    border-radius: 4px;
    overflow: hidden;
    gap: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 35px;
}

.buttons .box-button button {
    background: transparent;
    border: none;
    height: 100%;
}

.buttons .box-button button:not(:nth-child(2)) {
    transition: 0.4s ease-in-out;
    width: 30px;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    cursor: pointer;
}

.buttons .box-button button:not(:nth-child(2)):hover {
    background-color: #080a0c;
}

.buttons .box-button button:nth-child(2) {
    width: 100px;
    color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    text-wrap: normal;
}

/* #7a66ff */